.custom-form-container {
    border-radius: 8px;
  padding: 20px;
  background-color: #ffffff; /* White background */
  width: 400px;
  font-size: 20px;
}

.custom-form-container h2 {
  color: #333333; /* Dark gray heading color */
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
